@import "tailwindcss";

@theme {
    --font-doto: 'Doto', monospace;
    --animate-mist: mist 1.8s cubic-bezier(0.2,0.6,2,1) both;
    --animate-drift: drift 24s ease-in-out infinite alternate;

    @keyframes mist {
        from { opacity: 0; filter: blur(14px); font-weight:100; translate: 0 6px; scale: 1.08; }
        to { opacity: 1; filter: blur(0); font-weight:700; translate: 0 0; scale: 1; }
    }

    @keyframes drift {
        from { transform: translate(-6%, -4%) scale(1);}
        to { transform: translate(6%, 4%) scale(1.16); }
    }
}

body { background: #050505; color: #fff; }